body {
    margin: 0px;
    font-family: Nunito Sans, Arial;
}

body * {
    box-sizing: border-box;

}

.container {
    max-width: 1256px;
    margin: 0 auto;
}  

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header {
    background-color: #131313;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0px;
    border: 1px solid transparent;
    padding: 13px 33px;
    color: #FFFFFF;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.header-navigation {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.phone {
    color: #E3B873;
}

.button:hover {
    background: none;
    color: white;
    border: 1px solid #FFFFFF;
    box-shadow: none;
}

a:visited {
    color: white;
}

.header-navigation-item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-right: 47.09px;
}

a:hover {
    color:#E3B873;
}

.logo {
    color:#E3B873;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.image-1-1 {
    background-color: rgb(199, 61, 61);
    background-image: url(../Repair_project/images/hero.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.image-1-1::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.page-one {
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: Yeseva One, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1;
    padding-left: 21px;
}

.h1 {
    color:#E3B873;
}

.content-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

.paragraph-page-one {
    font-size: 22px;
    line-height: 36px;
    padding-left: 21px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 21px;
}

.button-page-one {
    width: 207px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-2 {
    background: #131313;
    height: 1074px;
    margin: 0 auto;
    background-size: cover;
}

.button-page-two {
    width: 207px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 17px;
}

.list-page-two {
    display: flex;
    list-style: none;
    margin: 0px 16px;
    padding-top: 107px;
    justify-content: flex-end;
    gap: 95px;
}

.list-page-two-item a {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    text-transform: uppercase;
}

.list-page-two-item :hover {
    color:#E3B873;
    text-decoration: none;
    border-bottom: 1px #E3B873 solid;
    padding-bottom: 5px;
}

.heading {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 9px;
    margin-top: 51px;
}

.heading-text {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}

.paragraph-page-two {
    font-size: 14px;
    line-height: 27px;
    margin-top: 34px;
    width: 72%;
}

.text-conditions {
    font-size: 13px;
    line-height: 21px;
}

.content-page-two {
    display: grid;
    grid-template-columns: repeat(15, 100px);
    grid-template-rows: repeat(10, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.text-page-two {
    grid-area: 1/1/3/6;
}

.image-2-1 {
    background-color: rgb(199, 61, 61);
    background-image: url('../Repair_project/images/image-2-1.png');
    width: 736px;
    height: 482px;
    grid-area: 1/6/1;
    margin-top: 52.68px;
}

.apartament-block {
    width: 210px;
    height: 75.4px;
}

.text-page-two-conditions-1 {
    grid-area: 3/1/5/3;
}

.text-page-two-conditions-2 {
    grid-area: 3/3/5/5;
}

.slider {
    grid-area: 5/1/5/4;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 46.6px;
}

.slider-list> li {
    display: inline;
    color: #FFFFFF;
    place-self: center;
    margin: 0 10px;
}

.slider-mobil-l,.slider-mobil-r {
    visibility: hidden;
}

.page {
    display: grid;
    grid-template-columns: repeat(24, 50px);
    grid-template-rows: repeat(24, 50px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 1256px;
}
.page-three {
    margin-top: -317px;
}
.ht3 {
    grid-area: 1/10;
}
.heading-text-3 {
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 12.79px;
    width: max-content;
    margin-top: 5px;
    margin-left: 23px;        
}
.logos {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.logos-3 {
    grid-area: 2/10;
    margin-left: 35px;
}
.logo-3-1-4 {
    grid-area: 6/11;
    z-index: 1;
    margin-left: 2px;
    margin-top: -14px;
}
.image-3-1 {
    grid-area: 3/5;
}
.image-shadow {
    grid-area: 3/5;
}
.logo-3-1-4>a {
    cursor: pointer;
}
.logo-3-1-5 {
    grid-area: 11/11;
    margin-left: 14px;
}
.paragraph-page-three {
    font-size: 18px;
    line-height: 37px;
    color: black;
    width: max-content;
    grid-area: 12/6;
    margin-left: 21px;
    margin-top: -34.36px;
    text-align: center;
}
.content-text.name.phone {
    color: rgba(54, 54, 54, 0.5);
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}    
.label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    outline: none;
}
.form-name {
    grid-area: 15/5;
    margin-top: 15px;
}
.form-phone {
    margin-top: 15px;
    grid-area: 15/10;
}
.content-text input {
    border: none;
    border-bottom: 1px solid #3636364D;
    width: 231px;
    height: 18px;
}
input::placeholder {
    color: #363636;
    font-size: 14px;
    line-height: 23px;
}
.button-page-three {
    width: 200px;
    height: 51px;
    font-size: 13px;
    line-height: 27px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    margin-top: 9px;
    margin-left: -10px;
    grid-area: 15/15;
}
.button.button-page-three:hover {
    color: #E3B873;
    border: 1px solid #E3B873;
}
.checkbox {
    grid-area: 17/9;
    width: max-content;
    padding-top: -39px;
}
.personal-data {
    position: absolute;
    opacity: 0;
}
.personal-data+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.personal-data+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.personal-data:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

